.header, #download{
    position: absolute;
  	top: 40%;
 	  left: 50%;
  	transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
    font-size: 19px;
    font-family:'Quicksand';
}

#structure{
  color: white;
  text-align: center;
}

#download{
    position: absolute;
  	top: 60%;
  	border: none;
  	background: #4CAF50;
  	color: white;
  	font-size: 15px;
    padding: 5px 20px;
    border-radius: 20px;
}

body{
	background-color: rgba(0,0,0,0.8);
}


#banner{
  width: 80%;
  height: 10%;
}


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    min-width: 150px; 
    height: 30px;
    padding: 5px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  float: right; 
  display: inline-block;
  font-family:'Quicksand';
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 12px;
    left: auto;

}

/* Links inside the dropdown */
.dropdown-content a {
    color:#4CAF50;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font: 11px/1.5 sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}