@import url('https://fonts.googleapis.com/css?family=Work Sans');
* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
body {
    background: url('../img/monday.jpg');
    background-size: cover;
}
#container {
    width: auto;
    height: auto;
    margin-top: 120px;
    -webkit-perspective: 800px;
    perspective: 800px;
    text-align: center;
}
#container h1 {
    color: white;
    margin-bottom: 30px;
    font-size: 55px;
}
#container > hr {
    border: none;
    border: 1px solid #fff;
    width: 80%;
}
.card {
    margin: 10px;
    display: inline-block;
    position: relative;
    width: 330px;
    height: 390px;
    opacity: 0.75;
}
.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    border-radius: 5px;
}
.front .logo{
  width:  220px;
  height: 112.5px;
  border-radius: 25px;
  padding: 5px;
}

.front{
    transform: rotateY(0deg);
    text-align: center;
    padding: 30px;
}

#functional{
    background: -webkit-linear-gradient(top left, #0d001a, #40bf40);
    background: linear-gradient(to bottom right, #0d001a, #40bf40);
}

#cima{
    background: -webkit-linear-gradient(top left, #1a0f00, #ffcc00);
    background: linear-gradient(to bottom right, #1a0f00, #ffcc00);
}

#simple{
    background: -webkit-linear-gradient(top left, #001a09, #3385ff);
    background: linear-gradient(to bottom right, #001a09, #3385ff);
}

.back {
    background: -webkit-linear-gradient(top left, black, white);
    background: linear-gradient(to bottom right, black, white);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    padding: 40px 15px;
}

.card:hover .front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}
.card:hover .back {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}

.front .name, .back .name {
    display: inline-block;
    font-size: 18px;
    color: #fff;
}

.front .job{
  color: white;
  font-size: 15px;
}

.back .job{
  font-size: 15px;
  color: white;
  display:block;
  text-align: left !important;
}

.back .job{

}
.front hr, .back hr {
    border: none;
    color: white;
    border: 1px solid;
}
.back .icon {
    fill: currentColor;
    color: inherit;
    height: 33px;
    width: 33px;
    margin-top: 15px;
    color: white;
}
.back .icon:hover {
    cursor: pointer;
    color: #648767;
}

button{
  display:block;
  font-size: 14px;
  text-align: left !important;
}

#logo{
  background-color: ;
}

li{
  color: white;
}