
.container {
  background-color: #3d3d3d;
   max-width: 100% !important;
   overflow-x: hidden !important;
}



.result{
	line-height: 30px;
	font-size: 12px;
	font-family: Sans-serif;
}

.row{
	 white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
	margin-left: auto;
    margin-right: auto;
	font-size: 15px;
	font-family: Sans-serif;
	color:white;
}

#body{
	background-color: black
}

.header1{
	
	font-size: 45px;
	color:white;
	font-family: Sans-serif;
}

.header1 span{
	color: #4CAF50;
}

.filter{
	float:right;
	border:none
}

#scriptName {
	background-color: #efefef;
	color:black;
}

#runDuration{
	margin-left: auto;
    margin-right: auto;
	background-color: #efefef;
	color:black;
}


#runDate {
	background-color: #efefef;
	color:black;
}

#passfail{
	background-color: #efefef;
}

#errorMessage {
	background-color: #efefef;
	color:black;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

#logo {
	background-color: #efefef;
}

.logo {
	max-width: 48.75px;
	max-height: 48.75px;
	border-radius: 50%;
	border: 3px solid;
}


.passLogo {
	position: relative;
	left: 9px;
	max-width: 50px;
	max-height: 30px;
	border-radius: 50%;
	border: 3px solid;
}
